* {
    font-family: Kanit;
    margin: 0;
    background-color: rgb(30, 41, 59);
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.piccolo {
    height: 35px;
    width: 150px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.title {
    font-family: Kanit;
    font-size: 35px;
    color: white;
    padding-bottom: 40px;
}

.button {
    border: 0.1px solid rgb(2, 8, 23);
    border-radius: 10px;
    height: 167px;
    width: 176px;
    padding: 12px 12px 24px 12px;
}

.spa {
    width: 100px;
    height: 82px;
}

.img-text {
    padding-top: 10px;
    color: white;
}

button:hover {
    background-color: rgb(2, 8, 23);
    transition: background-color 0.5s ease;
    color: white;

    .img-text {
        background-color: rgb(2, 8, 23);
        transition: background-color 0.5s ease;
    }

    .spa {
        background-color: rgb(2, 8, 23);
        transition: background-color 0.5s ease;
    }
}