* {
    font-family: Kanit;
    margin: 0;
    background-color: rgb(30, 41, 59);
}

.grande {
    height: 500px;
    width: 500px;
}

.medio {
    height: 32px;
    width: 40px;
}

.piccolo {
    height: 35px;
    width: 150px;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 84vh;
} 

.second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.primo {
    width: 50vh;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.secondo {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-bottom: 40px;
}

.get {
    background-color: white;
    border: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 48px;
    width: 400px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.already {
    color: white;
    border: 0.1px solid rgb(2, 8, 23);
    border-radius: 10px;
    height: 48px;
    width: 400px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.al {
    color: white;
    background-color: rgb(30, 41, 59);
}

.get:hover {
    background-color: #94a3b8;
    transition: background-color 0.5s ease;
}

.already:hover {
    background-color: rgb(2, 8, 23);
    transition: background-color 0.5s ease;
}